body{
	background: url('img/cover.jpeg');
    background-size: cover;
}
.all{
	
	#height:800px;
    width:90%;
	margin:5%;
	display: flex;
    flex-direction:column;
	border-style:solid;
	border-color:#cccccc;
	border-width:2px;
	border-radius:60px 60px 60px 60px;
}

.header{
	#height:10%;
	width:100%;
	display: flex;
    #flex-direction:row;
	justify-content:center;
	align-items:center;
	font-size:20pt;
	color:red;
}
.cent{
	display: flex;
	border-bottom:1px solid #cccccc;
	justify-content:center;
	align-items:center;
}
.bottom{
	justify-content:center;
	align-items:center;
	#border:1px solid red;
	#width:100%;
	height:100%;
}
.cent2-2{
	background:orange;
    #border:1px solid #cccccc;
    text-align:center;
	#flex-direction:row;
	#display: flex;
	height:30px;
    width:100px;
	margin:10px;
	float:left;
 }
.cent2-2:hover{
	
}
.cent2-2:active{
	
}

a{
text-decoration:none;
}

.foto{
    #border:1px solid #cccccc;
    text-align:center;
	#flex-direction:row;
	display: flex;
	height:100px;
    width:100px;
	max-width:100%;
	margin:30px;
	justify-content:center;
	#align-items:center;
	#align-self:center;
	float:left;
}
.bigfoto{
	flex-direction:column;
	display: flex;
	margin:30px;
	width: auto;
	height: 100%;
	justify-content:center;
	font-size:20pt;
	text-align:center;
}